@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: blueviolet;
}

/*----------------------------------------------------LOGIN PAGE--------------------------------------------------*/

#loginPage {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #FFFFFF;
    width: 25vw;
    margin: 15vh auto 0 auto;
    padding: 10vh;
    text-align: left;

}

#loginBack{
    color: darkgray;
    float: right;
    margin: -5vh 0 0 0;
    cursor: pointer;
}

#loginBack i{
    cursor: pointer;
    text-decoration: underline;
}

#loginBack:hover, #loginBack i:hover{
    color: gray;
}

#loginTitle{
    font-size: 3.5rem;
    margin: 0 0 3rem 0;
}

.loginLabel {
    font-size: 1.3em;
    height: 1.5rem;
}

.loginInput {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 1rem 0 2.5rem 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
}

.loginInput:focus {
    animation-name: textFocus;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes textFocus {
    from {
        box-shadow: 0 0 0 transparent;
        border: 0 none transparent;
    }
    to {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
}

#loginButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

#loginButton:hover, #loginButton:active, #loginButton:focus {
    background: #43A047;
}

#signUpLink {
    float: right;
    text-decoration: none;
    color: gray;
}

#signUpLink:hover{
    text-decoration: underline;
}

/*----------------------------------------------------SIGN UP PAGE--------------------------------------------------*/




